<div id='<%= dom_id book_loan %>' class='card mt-3'>
  <div class='card-header border-success border-top border-bottom-0 border-4'>
    <h4 class='mb-0'><%= book_loan.book&.title %></h4>
  </div>

  <div class='card-body row row-cols-1'>
    <%= render 'shared/display_fields', record: book_loan %>

    <div class='col col-md-6 col-12'>
      <p>
        <strong>Member:</strong>
        <%= book_loan.member&.full_name %>
      </p>
    </div>
  </div>

  <%= render 'shared/footer_actions', record: book_loan %>
</div>
