<div id='<%= dom_id book_loan %>'>
  <p>
    <strong>Book:</strong>
    <%= book_loan.book_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= book_loan.member_id %>
  </p>

  <p>
    <strong>Borrowed on:</strong>
    <%= book_loan.borrowed_on %>
  </p>

  <p>
    <strong>Returned on:</strong>
    <%= book_loan.returned_on %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book_loan.status %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= book_loan.active %>
  </p>

</div>
