<%= form_with(model: book_loan, class: 'model-form mt-4', novalidate: true) do |form| %>
  <%= render 'shared/error_messages', record: book_loan %>

  <div class='mb-3'>
    <%= form.label :book_id, class: 'form-label' %>
    <%= form.text_field :book_id, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :member_id, class: 'form-label' %>
    <%= form.text_field :member_id, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :borrowed_on, class: 'form-label' %>
    <%= form.date_field :borrowed_on %>
  </div>

  <div class='mb-3'>
    <%= form.label :returned_on, class: 'form-label' %>
    <%= form.date_field :returned_on %>
  </div>

  <div class='mb-3'>
    <%= form.label :status, class: 'form-label' %>
    <%= form.text_field :status, class: 'form-control' %>
  </div>

  <div class='mb-3 form-check'>
    <%= form.check_box :active, class: 'form-check-input' %>
    <%= form.label :active, class: 'form-check-label' %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
