<%= form_with(model: book_loan) do |form| %>
  <% if book_loan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book_loan.errors.count, "error") %> prohibited this book_loan from being saved:</h2>

      <ul>
        <% book_loan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.label :member_id, style: "display: block" %>
    <%= form.text_field :member_id %>
  </div>

  <div>
    <%= form.label :borrowed_on, style: "display: block" %>
    <%= form.date_field :borrowed_on %>
  </div>

  <div>
    <%= form.label :returned_on, style: "display: block" %>
    <%= form.date_field :returned_on %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
