<%= render 'shared/result_messages', record: @book_loan %>
<%= render 'shared/index_header' %>

<div id='book_loans' class='my-3'>
  <%= render 'shared/base_render' %>
</div>

<div class='pagination'>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<%= link_to translate('actions.new_model', model: BookLoan.model_name.human), new_book_loan_path %>
