<%= render 'shared/result_messages', record: @book_loan %>

<h1>Book loans</h1>

<div id='book_loans'>
  <% @book_loans.each do |book_loan| %>
    <%= render book_loan %>
    <p>
      <%= link_to 'View', book_loan %>
      <%= link_to 'Edit', edit_book_loan_path(book_loan) %>
    </p>
  <% end %>
</div>

<%= link_to 'New book loan', new_book_loan_path %>
