<% model_record = defined?(locals) ? locals[:record] : (defined?(record) ? record : nil) %>
<%
data_attributes = {
  turbo_method: 'delete',
  turbo_confirm: "Are you sure to delete this #{record.class.model_name.human} record?",
}
%>

<div class='card-footer'>
  <% if action_name == 'show' %>
    <%= link_to translate('actions.edit'), edit_polymorphic_path(model_record) %> |
    <%= link_to translate('actions.delete'), model_record, method: :delete, data: data_attributes %> |
    <%= link_to translate('actions.back'), polymorphic_path(model_record.class) %>
  <% else %>
    <%= link_to translate('actions.view'), model_record %> |
    <%= link_to translate('actions.edit'), edit_polymorphic_path(model_record) %> |
    <%= link_to translate('actions.delete'), model_record, method: :delete, data: data_attributes %>
  <% end %>
</div>
