<% model_record = defined?(locals) ? locals[:record] : (defined?(record) ? record : nil) %>

<div class='d-flex align-items-center'>
  <h2 class='mb-0'><%= translate("actions.#{action_name}") %> <%= translated_model_name(record) %></h2>

  <div class='btn-group btn-group-sm ms-auto'>
    <% if action_name == 'edit' %>
      <%= link_to translate('actions.show'), model_record, data: { turbo_frame: '_top' }, class: 'btn btn-primary' %>
    <% end %>

    <%= link_to({ controller: controller_name }, data: { turbo_frame: '_top' }, class: 'btn btn-secondary') do %>
      <svg class='icon'>
        <% if false %>
          <use xlink:href='<%= asset_path("coreui-free.svg") %>#cil-backspace'></use>
        <% end %>
        <use data-icon='--coreui-free-icons' xlink:href='#cil-backspace'></use>
      </svg> <%= translate('actions.back') %>
    <% end %>
  </div>
</div>
