<div class='d-flex align-items-center'>
  <% title = translate('ui.list_of') + ' ' + translate("ui.sidebar_menu.#{controller_name}") %>
  <% if action_name == 'index' %>
    <h2 class='mb-0'><%= title %></h2>
  <% else %>
    <h4 class='mb-0'><%= title %></h4>
  <% end %>

  <div class='ms-auto'>
    <%= link_to(translate('actions.new'), new_polymorphic_path(controller_name.singularize),
      class: 'btn btn-primary btn-sm') if action_name == 'index' %>

    <div class='btn-group switch-display'>
      <% ApplicationHelper::VIEW_TYPES.each_with_index do |render_view, indx| %>
        <%
          render_view_class = render_view[:name] == view_type ? 'btn-success' : 'btn-secondary'
          url = url_for(request.query_parameters.except(:view).merge({ view: render_view[:name] }))
        %>
        <%= link_to(action_name == 'index' ? url : '#',
          data: action_name == 'index' ? nil : { url: url },
          class: "btn btn-sm#{indx == 0 ? ' ms-2' : nil} #{render_view_class}") do %>
          <svg class='icon'>
            <% if false %>
              <use xlink:href='<%= asset_path("coreui-free.svg") %>#<%= render_view[:icon] %>'></use>
            <% end %>
    
            <use data-icon='--coreui-free-icons' xlink:href='#<%= render_view[:icon] %>'></use>
          </svg> <%= translate("ui.view_as_#{render_view[:name]}") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
