<%= form_with(model: library, class: 'model-form mt-4', novalidate: true) do |form| %>
  <%= render 'shared/error_messages', record: library %>

  <div class='mb-3'>
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :address, class: 'form-label' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class='mb-3 form-check'>
    <%= form.check_box :active, class: 'form-check-input' %>
    <%= form.label :active, class: 'form-check-label' %>
  </div>

  <div>
    <%= form.submit translate('actions.save'), class: 'btn btn-primary' %>
  </div>
<% end %>
