<div id='<%= dom_id library %>' class='card mt-3'>
  <div class='card-header border-warning border-top border-bottom-0 border-4'>
    <h4 class='mb-0'><%= library.name %></h4>
  </div>

  <div class='card-body'>
    <p>
      <strong>Address:</strong>
      <%= library.address %>
    </p>

    <p>
      <strong>Active:</strong>
      <%= library.active %>
    </p>
  </div>
</div>

<%= render 'shared/footer_actions', record: library %>
