<%= render 'shared/result_messages', record: @library %>
<%= render 'shared/index_header' %>

<div id='libraries' class='my-3'>
  <%= render 'shared/base_render' %>
</div>

<div class='pagination'>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<%= link_to translate('actions.new_model', model: Library.model_name.human), new_library_path %>
