<div id="<%= dom_id publisher %>">
  <p>
    <strong>Name:</strong>
    <%= publisher.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= publisher.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= publisher.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= publisher.email %>
  </p>

  <p>
    <strong>Established year:</strong>
    <%= publisher.established_year %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= publisher.website %>
  </p>

  <p>
    <strong>Ceo name:</strong>
    <%= publisher.ceo_name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= publisher.active %>
  </p>

</div>
