<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= book.published_date %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher_id %>
  </p>

</div>
