<%= render 'shared/record_form', record: book do |f| %>

 <h3 class='mt-4 mb-2'>Categories</h3>
  <%= render 'shared/form/association_field', locals: { record: book, column: 'categories', multiple: true } %>

  <h3 class='mt-4 mb-2'>Tags</h3>
  <%= render 'shared/form/association_field', locals: { record: book, column: 'tags', multiple: true } %>

  <h3 class='mt-4 mb-2'>Genres</h3>
  <%= render 'shared/form/association_field', locals: { record: book, column: 'genres', multiple: true } %>

  <h3 class='mt-4 mb-2'>Authors</h3>
  <%= render 'shared/form/association_field', locals: { record: book, column: 'authors', multiple: true } %>

<% end %>
