<%= render 'shared/result_messages', record: @book %>

<%= render @book %>

<div>
  <%= link_to 'Edit this book', edit_book_path(@book) %> |
  <%= link_to 'Back to books', books_path %>

  <%= button_to 'Destroy this book', @book, method: :delete, data: { turbo_confirm: 'Are you sure ?' } %>
</div>
