<div id='<%= dom_id tag %>' class='card mt-3'>
  <div class='card-header border-info border-top border-bottom-0 border-4'>
    <h4 class='mb-0'><%= tag.name %></h4>
  </div>

  <div class='card-body row row-cols-1'>
    <% display_columns_class(tag.class).each do |config| %>
      <% column, css_class = config.to_a.flatten %>
      <div class='col <%= css_class %>'>
        <p>
          <strong><%= column.titleize %>: </strong><%= tag.send(column) %>
        </p>
      </div>
    <% end %>
  </div>

  <%= render 'shared/footer_actions', record: tag %>
</div>
