
<%= render 'shared/result_messages', record: @tag %>

<h1>Tags</h1>
<%= link_to 'New tag', new_tag_path %>

<div id='tags'>
  <% @tags.each do |tag| %>
    <%= render tag %>
    <p>
      <%= link_to 'Show this tag', tag %>
      <%= link_to 'Edit', edit_tag_path(tag) %>
      <%= link_to 'Delete', tag, data: { turbo_method: 'delete', turbo_confirm: 'Are you sure ?' } %>
    </p>
  <% end %>
</div>

<%= link_to 'New tag', new_tag_path %>
