<%= form_with(model: book_category, class: 'model-form mt-4', novalidate: true) do |form| %>
  <%= render 'shared/error_messages', record: book_category %>

  <div>
    <%= form.label :book_id, class: 'form-label' %>
    <%= form.text_field :book_id, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :category_id, class: 'form-label' %>
    <%= form.text_field :category_id, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
