<div id='<%= dom_id author_profile %>'>
  <p>
    <strong>Author:</strong>
    <%= author_profile.author_id %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= author_profile.bio %>
  </p>

  <p>
    <strong>Social facebook:</strong>
    <%= author_profile.social_facebook %>
  </p>

  <p>
    <strong>Social twitter:</strong>
    <%= author_profile.social_twitter %>
  </p>

  <p>
    <strong>Social instagram:</strong>
    <%= author_profile.social_instagram %>
  </p>

  <p>
    <strong>Social linkedin:</strong>
    <%= author_profile.social_linkedin %>
  </p>

  <p>
    <strong>Social youtube:</strong>
    <%= author_profile.social_youtube %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= author_profile.active %>
  </p>

</div>
