<%= form_with(model: author_profile, class: 'model-form mt-4', novalidate: true) do |form| %>
  <%= render 'shared/error_messages', record: author_profile %>

  <div class='mb-3'>
    <%= form.label :author_id, class: 'form-label' %>
    <%= form.text_field :author_id, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :bio, class: 'form-label' %>
    <%= form.text_area :bio, class: 'form-control', rows: 10 %>
  </div>

  <div class='mb-3'>
    <%= form.label :social_facebook, class: 'form-label' %>
    <%= form.text_field :social_facebook, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :social_twitter, class: 'form-label' %>
    <%= form.text_field :social_twitter, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :social_instagram, class: 'form-label' %>
    <%= form.text_field :social_instagram, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :social_linkedin, class: 'form-label' %>
    <%= form.text_field :social_linkedin, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :social_youtube, class: 'form-label' %>
    <%= form.text_field :social_youtube, class: 'form-control' %>
  </div>

  <div class='mb-3 form-check'>
    <%= form.check_box :active, class: 'form-check-input' %>
    <%= form.label :active, class: 'form-check-label' %>
  </div>

  <div>
    <%= form.submit translate('actions.save'), class: 'btn btn-primary' %>
  </div>
<% end %>
