<%= render 'shared/result_messages', record: @author_profile %>

<h1>Author profiles</h1>

<div id='author_profiles'>
  <% @author_profiles.each do |author_profile| %>
    <%= render author_profile %>
    <p>
      <%= link_to 'View', author_profile %>
      <%= link_to 'Edit', edit_author_profile_path(author_profile) %>
    </p>
  <% end %>
</div>

<%= link_to 'New author profile', new_author_profile_path %>
