<div id='<%= dom_id category %>' class='card mt-3'>
  <div class='card-header border-info border-top border-bottom-0 border-4'>
    <h2 class='mb-0'><%= category.name %></h2>
  </div>

  <div class='card-body'>
    <p>
      <strong>Description:</strong>
      <%= category.description %>
    </p>

    <p>
      <strong>Active:</strong>
      <%= category.active %>
    </p>
  </div>

  <%= render 'shared/footer_actions', record: category %>
</div>
