<%= form_with(model: published_date) do |form| %>
  <% if published_date.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(published_date.errors.count, "error") %> prohibited this published_date from being saved:</h2>

      <ul>
        <% published_date.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.text_field :book_id %>
  </div>

  <div>
    <%= form.label :publisher_id, style: "display: block" %>
    <%= form.text_field :publisher_id %>
  </div>

  <div>
    <%= form.label :published_date, style: "display: block" %>
    <%= form.date_field :published_date %>
  </div>

  <div>
    <%= form.label :edition, style: "display: block" %>
    <%= form.text_field :edition %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
