<div id='<%= dom_id published_date %>' class='card mt-3'>
  <div class='card-header border-secondary border-top border-bottom-0 border-4'>
    <h4 class='mb-0'><%= published_date.book&.title %></h4>
  </div>

  <div class='card-body row row-cols-1'>
    <%= render 'shared/display_fields', record: published_date %>

    <div class='col col-md-6 col-12'>
      <p>
      <strong>Publisher:</strong>
      <%= published_date.publisher&.name %>
      </p>
    </div>
  </div>

  <%= render 'shared/footer_actions', record: published_date %>
</div>
