<div id='<%= dom_id published_date %>'>
  <p>
    <strong>Book:</strong>
    <%= published_date.book_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= published_date.publisher_id %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= published_date.published_date %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= published_date.edition %>
  </p>

</div>
