<%= render 'shared/result_messages', record: @published_date %>
<%= render 'shared/index_header' %>

<div id='published_dates' class='my-3'>
  <%= render 'shared/base_render' %>
</div>

<div class='pagination'>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<%= link_to translate('actions.new_model', model: PublishedDate.model_name.human), new_published_date_path %>
