<%= form_with(model: review, class: 'model-form mt-4', novalidate: true) do |form| %>
  <%= render 'shared/error_messages', record: review %>

  <div class='mb-3'>
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control', rows: 5 %>
  </div>

  <div class='mb-3'>
    <%= form.label :rating, class: 'form-label' %>
    <%= form.number_field :rating, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :book_id, class: 'form-label' %>
    <%= form.text_field :book_id, class: 'form-control' %>
  </div>

  <div class='mb-3 form-check'>
    <%= form.check_box :active, class: 'form-check-input' %>
    <%= form.label :active, class: 'form-check-label' %>
  </div>

  <div>
    <%= form.submit translate('actions.save'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'shared/footer_actions', record: review %>
