<div id='<%= dom_id review %>'>
  <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= review.book_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= review.active %>
  </p>

</div>
