<div class='sidebar sidebar-dark sidebar-fixed border-end' id='sidebar'>
  <div class='sidebar-header border-bottom'>
    <div class='sidebar-brand'>
      <%= image_tag '/favicon.png', class: 'sidebar-brand-full', height: '32', alt: 'Rails v7 Logo' %>
      <%= image_tag '/favicon.png', class: 'sidebar-brand-narrow', width: '32', height: '32', alt: 'Rails v7 Logo' %>
    </div>
    <button class='btn-close d-lg-none' type='button'
      data-coreui-dismiss='offcanvas' data-coreui-theme='dark'
      aria-label='Close' onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"></button>
  </div>
  <ul class='sidebar-nav' data-coreui='navigation' data-simplebar>
    <% # Group NAV_MENUS by group name %>
    <% grouped_menus = ApplicationHelper::NAV_MENUS.group_by { |menu| menu[:group] } %>

    <% grouped_menus.each do |group_name, menus| %>
      <% if group_name == 'settings' %>
        <li><hr class='divider'></li>
      <% else %>
        <%#-- Render Group Title --%>
        <li class='nav-title'><%= group_name %></li>
      <% end %>

      <% menus.each do |menu| %>
        <li class='nav-item'>
          <%#-- Render each menu item --%>
          <a class='nav-link' href='<%= send("#{menu[:path]}_path") %>'>
            <svg class='nav-icon'>
              <use xlink:href="<%= asset_path('coreui-free.svg') %>#<%= menu[:icon] %>"></use>
            </svg>
            <%= menu[:name] %>
          </a>
        </li>
      <% end %>

      <% if group_name.blank? %>
        <li><hr class='divider'></li>
      <% end %>
    <% end %>
  </ul>
  <div class='sidebar-footer border-top d-none d-md-flex'>
    <button class='sidebar-toggler' type='button' data-coreui-toggle='unfoldable'></button>
  </div>
</div>
