<!DOCTYPE html>
<html>
  <head>
    <title>Rails Bookverse</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <meta name='turbo-prefetch' content='false'>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>

    <%# -- Yield additional content in the head section -- %>
    <%= yield :head %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/sidebar' %>
    <div class='wrapper d-flex flex-column min-vh-100'>
      <%= render partial: 'layouts/header' %>
      <div class='body flex-grow-1'>
        <div class='container-lg p-4'>
          <%= yield %>
        </div>
      </div>
      <%= render partial: 'layouts/footer' %>
    </div>
  
    <!-- Scroll to Top Button -->
    <button id='scrollToTopBtn'
      class='btn btn-primary position-fixed bottom-0 end-0 m-3'
      style='display: none;'>
        <%= translate('ui.scroll_to_top') %>
    </button>
  </body>
</html>