<!DOCTYPE html>
<html>
  <head>
    <title>Rails Bookverse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="turbo-prefetch" content="false">
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag 'nav_frame' do %>
      <%= render 'layouts/nav' %>
    <% end %>

    <div class='container-fluid'>
      <%= yield %>
    </div>

    <!-- Scroll to Top Button -->
    <button id='scrollToTopBtn' class='btn btn-primary position-fixed bottom-0 end-0 m-3'
      onclick='scrollToTop()' style='display: none;'>
        Scroll to Top
    </button>
  </body>
</html>