<div id='<%= dom_id member %>' class='card mt-3'>
  <div class='card-header border-warning border-top border-bottom-0 border-4'>
    <h2 class='mb-0'><%= member.full_name %></h2>
  </div>

  <div class='card-body'>
    <p>
      <strong>First name:</strong>
      <%= member.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= member.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= member.email %>
    </p>

    <p>
      <strong>Library:</strong>
      <%= member.library&.name %>
    </p>

    <p>
      <strong>Library ID:</strong>
      <%= member.library_id %>
    </p>

    <p>
      <strong>Active:</strong>
      <%= member.active %>
    </p>
  </div>

  <%= render 'shared/footer_actions', record: member %>
</div>
