<div id='<%= dom_id member %>' class='card mt-3'>
  <div class='card-header border-success border-top border-bottom-0 border-4'>
    <h4 class='mb-0'><%= member.full_name %></h4>
  </div>

  <div class='card-body row row-cols-1'>
    <%= render 'shared/display_fields', record: member %>

    <div class='col col-md-6 col-12'>
      <p>
        <strong>Library:</strong>
        <%= member.library&.name %>
      </p>
    </div>
  </div>

  <%= render 'shared/footer_actions', record: member %>
</div>
